.button {
  height: 43px;

  padding: 0 1rem;

  border: none;
  border-radius: 10px;

  font-size: 0.85rem;
  font-weight: 600;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
}

.primary {
  background-color: #1c5b30;
  color: #fff;
}

.primary:hover {
  background-color: #174b27;
}

.secondary {
  background-color: #e9e9e9;
  color: #111;
}

.secondary:hover {
  background-color: #dcdcdc;
}

.danger {
  background-color: #dc3545;
  color: #fff;
}

.danger:hover {
  background-color: #bb2d3b;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}