.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 3rem;
}

.listDetails {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.listName {
  font-size: 24px;
  font-weight: bold;
  color: black;
}