.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    gap: 1rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.card:hover {
    transform: translateY(-2px);
}