.navbar {
    width: 100%;
    min-height: 70px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 63px;
    box-sizing: border-box;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navButton,
.profileButton,
.signOutButton {
    border: none;
    background: none;
    cursor: pointer;

    font-size: 11px;
    font-weight: 600;
}

.navButton {
    padding: 9px 17px;
    border-radius: 20px;
}

.navButton.active {
    background-color: #216b36;
    color: white;
}

.profileButton {
    padding: 9px 2px;
}

.signOutButton {
    background-color: #ff0000;
    color: white;

    padding: 9px 18px;
    border-radius: 20px;
}

.navButton:hover,
.profileButton:hover,
.signOutButton:hover {
    opacity: 0.85;
}

@media (max-width: 600px) {
    .navbar {
        padding: 0 20px;
    }

    .logo {
        font-size: 19px;
    }

    .navigation {
        gap: 8px;
    }

    .profileButton {
        display: none;
    }
}